### Earth Analytics Bootcamp - Homework 2
* **Author**: Mark Brown
* **Date**: 15/12/2018

##### Question 2 - Import Python Packages
In the questions below, you will be creating numpy arrays, and pandas dataframes. You will also be creating plots and downloading data from Figshare.com after setting the working directory.

Import the necessary Python packages to accomplish these tasks.

In [2]:
#import necessary Python packages

import os
import numpy as np
import pandas as pd
import urllib.request
import matplotlib as plt

print("import of packages successful")

import of packages successful

#### Question 3: Download CSV File and Import Into Numpy Arrays (6 pts)

Use .urllib.request to download the following CSV file of monthly snowfall (inches) between 2007 and 2017 for Boulder, Colorado, to your data directory:

snow-2007-to-2017.csv from https://ndownloader.figshare.com/files/12746039

This snowfall dataset (inches) contains a row for each year (starting with 2007 through 2017) and contains a column for each month (starting with January through December).

In [3]:
# change directory to earth-analytics-bootcamp
os.chdir("/Users/markb/earth-analytics-bootcamp")

# print current working directory
os.getcwd()

'C:\\Users\\markb\\earth-analytics-bootcamp'

In [6]:
# use `urllib` download files from Earth Lab figshare repository

# download .txt containing monthly average precipitation for Boulder, CO
urllib.request.urlretrieve(url = "https://ndownloader.figshare.com/files/12746039", 
                           filename = "data/snow-2007-to-2017.csv")

# download .txt containing month names
urllib.request.urlretrieve(url = "https://ndownloader.figshare.com/files/12746039", 
                           filename = "data/snow-2007-to-2017.csv")

# print message that data downloads were successful
print("datasets downloaded successfully")

datasets downloaded successfully

In [8]:
# import the snow data into a numpy array

snow_07_to_17 = np.loadtxt(fname = "/Users/markb/earth-analytics-bootcamp/data/snow-2007-to-2017.csv", delimiter = ",")

##### Question 4: Print Data From Numpy Arrays Without Scientific Notation (2 pts)

Print your imported numpy array after setting the appropriate the options to supress the scientific notation.

In [9]:
# Display variables in the numpy array as floats, rather than scientific notation

np.set_printoptions(suppress=True)

In [11]:
# print the type for 'snow_07_to_17' variable

print(type(snow_07_to_17))

# print the values in 'snow_07_to_17'

print(snow_07_to_17)

<class 'numpy.ndarray'>
[[27.5    15.3     4.5     2.2     0.0001  0.      0.      0.      0.
   0.1     5.9    30.    ]
 [10.3    10.4    17.6     7.9     0.7     0.      0.      0.      0.
   0.2     1.3    20.9   ]
 [13.      3.9    21.4    20.4     0.      0.      0.      0.      0.
  30.1     8.9    27.8   ]
 [ 4.6    22.9    28.7     5.8     5.6     3.5     0.      0.      0.
   0.0001  2.      9.5   ]
 [18.2    13.2     0.7     3.5     0.2     0.      0.      0.      0.
  11.5     8.6    33.1   ]
 [ 7.8    32.1     0.0001  1.6     0.0001  0.      0.      0.      0.
   7.9     0.8    11.7   ]
 [ 3.7    18.5    22.8    47.6    12.3     0.      0.      0.      0.
   5.4     6.3     9.    ]
 [27.2    11.7    11.2    12.2     6.8     0.      0.      0.      0.5
   0.     16.9    19.8   ]
 [ 6.     54.6     8.      7.4     3.9     0.0001  0.      0.      0.
   0.     11.5    17.4   ]
 [ 4.1    21.8    32.5    21.4     1.      0.      0.      0.      0.
   0.      4.4    13.    ]
 [18.7     9.9     0.     19.4     6.1     0.      0.      0.      0.
   8.      4.1    10.2   ]]

#### Question 5: Run Calculations on Numpy Arrays (4 pts)

Convert the values in your numpy array from inches to millimeters. Recall that one inch is equal to 25.4 millimeters.

Print your new numpy array, again supressing the scientific notation.

In [12]:
# Convert 'snow_07_to_17' from inches to mm (multiple by 25.4)
snow_07_to_17_mm = snow_07_to_17 * 25.4

# Display variables in the numpy array as floats, rather than scientific notation

np.set_printoptions(suppress=True)

# print the values in 'snow_07_to_17_mm'

print(snow_07_to_17_mm)

[[ 698.5      388.62     114.3       55.88       0.00254    0.
     0.         0.         0.         2.54     149.86     762.     ]
 [ 261.62     264.16     447.04     200.66      17.78       0.
     0.         0.         0.         5.08      33.02     530.86   ]
 [ 330.2       99.06     543.56     518.16       0.         0.
     0.         0.         0.       764.54     226.06     706.12   ]
 [ 116.84     581.66     728.98     147.32     142.24      88.9
     0.         0.         0.         0.00254   50.8      241.3    ]
 [ 462.28     335.28      17.78      88.9        5.08       0.
     0.         0.         0.       292.1      218.44     840.74   ]
 [ 198.12     815.34       0.00254   40.64       0.00254    0.
     0.         0.         0.       200.66      20.32     297.18   ]
 [  93.98     469.9      579.12    1209.04     312.42       0.
     0.         0.         0.       137.16     160.02     228.6    ]
 [ 690.88     297.18     284.48     309.88     172.72       0.
     0.         0.        12.7        0.       429.26     502.92   ]
 [ 152.4     1386.84     203.2      187.96      99.06       0.00254
     0.         0.         0.         0.       292.1      441.96   ]
 [ 104.14     553.72     825.5      543.56      25.4        0.
     0.         0.         0.         0.       111.76     330.2    ]
 [ 474.98     251.46       0.       492.76     154.94       0.
     0.         0.         0.       203.2      104.14     259.08   ]]

##### Question 6: Select Data From Numpy Arrays (6 pts)

Create (and print) a new numpy array containing all data values for the first year (2007). Be sure this new numpy array contains the converted values (mm).

In [13]:
# print the dimensions of snow_07_to_17_mm
print(snow_07_to_17_mm.shape)

(11, 12)

In [14]:
# create a new numpy array containing all data values for 2007

snow_07_mm = snow_07_to_17_mm[0:1, 0:12]

# print data in 'snow_07_mm'

print(snow_07_mm)

[[698.5     388.62    114.3      55.88      0.00254   0.        0.
    0.        0.        2.54    149.86    762.     ]]

#### Question 7: Select Data From Numpy Arrays (6 pts)

Create (and print) a new numpy array containing all data values for January across all years. Be sure this new numpy array contains the converted values (mm).

In [15]:
# create a new numpy array containing all values for January across the years

snow_Jan_07_to_17_mm = snow_07_to_17_mm[0:11, 0:1]

# print data in 'snow_07_mm'

print(snow_Jan_07_to_17_mm)

[[698.5 ]
 [261.62]
 [330.2 ]
 [116.84]
 [462.28]
 [198.12]
 [ 93.98]
 [690.88]
 [152.4 ]
 [104.14]
 [474.98]]

##### Question 8: Calculate Summary Statistics of Numpy Arrays (4 pts)

Calculate (and print) the maximum value of your numpy array for 2007.

Add a text string to your print to label your result.

In [16]:
# find the maximum value in 'snow_07_mm'

snow_07_mm_max = np.max(snow_07_mm)

# print this value along with a message

print("The maximum snowfall during 2007 was", snow_07_mm_max, "mm" )

The maximum snowfall during 2007 was 762.0 mm

#### Question 9: Calculate Summary Statistics of Numpy Arrays (4 pts)

Calculate (and print) the mean (i.e. average) value for your numpy array for January.

Add a text string to your print to label your result.

In [20]:
# find the medium value in snow_Jan_07_to_17_mm

snow_Jan_07_to_17_mm_mean = np.mean(snow_Jan_07_to_17_mm)

# print this value along with a message

print("The mean snowfall in January from 2007 to 2017 was", round(snow_Jan_07_to_17_mm_mean,2), "mm")

The mean snowfall in January from 2007 to 2017 was 325.81 mm