### Earth Analytics Bootcamp - Homework 2
* **Author**: Mark Brown
* **Date**: 15/12/2018

##### Question 2 - Import Python Packages
In the questions below, you will be creating numpy arrays, and pandas dataframes. You will also be creating plots and downloading data from Figshare.com after setting the working directory.

Import the necessary Python packages to accomplish these tasks.

In [3]:
#import necessary Python packages

import os
import numpy as np
import pandas as pd
import urllib.request
import matplotlib as plt

print("import of packages successful")

import of packages successful

#### Question 3: Download CSV File and Import Into Numpy Arrays (6 pts)

Use .urllib.request to download the following CSV file of monthly snowfall (inches) between 2007 and 2017 for Boulder, Colorado, to your data directory:

snow-2007-to-2017.csv from https://ndownloader.figshare.com/files/12746039

This snowfall dataset (inches) contains a row for each year (starting with 2007 through 2017) and contains a column for each month (starting with January through December).

In [3]:
# change directory to earth-analytics-bootcamp
os.chdir("/Users/markb/earth-analytics-bootcamp")

# print current working directory
os.getcwd()

'C:\\Users\\markb\\earth-analytics-bootcamp'

In [4]:
# use `urllib` download files from Earth Lab figshare repository

# download .txt containing monthly average precipitation for Boulder, CO
urllib.request.urlretrieve(url = "https://ndownloader.figshare.com/files/12746039", 
                           filename = "data/snow-2007-to-2017.csv")

# download .txt containing month names
urllib.request.urlretrieve(url = "https://ndownloader.figshare.com/files/12746039", 
                           filename = "data/snow-2007-to-2017.csv")

# print message that data downloads were successful
print("datasets downloaded successfully")

datasets downloaded successfully

In [5]:
# import the snow data into a numpy array

snow_07_to_17 = np.loadtxt(fname = "/Users/markb/earth-analytics-bootcamp/data/snow-2007-to-2017.csv", delimiter = ",")

##### Question 4: Print Data From Numpy Arrays Without Scientific Notation (2 pts)

Print your imported numpy array after setting the appropriate the options to supress the scientific notation.

In [6]:
# Display variables in the numpy array as floats, rather than scientific notation

np.set_printoptions(suppress=True)

In [7]:
# print the type for 'snow_07_to_17' variable

print(type(snow_07_to_17))

# print the values in 'snow_07_to_17'

print(snow_07_to_17)

<class 'numpy.ndarray'>
[[27.5    15.3     4.5     2.2     0.0001  0.      0.      0.      0.
   0.1     5.9    30.    ]
 [10.3    10.4    17.6     7.9     0.7     0.      0.      0.      0.
   0.2     1.3    20.9   ]
 [13.      3.9    21.4    20.4     0.      0.      0.      0.      0.
  30.1     8.9    27.8   ]
 [ 4.6    22.9    28.7     5.8     5.6     3.5     0.      0.      0.
   0.0001  2.      9.5   ]
 [18.2    13.2     0.7     3.5     0.2     0.      0.      0.      0.
  11.5     8.6    33.1   ]
 [ 7.8    32.1     0.0001  1.6     0.0001  0.      0.      0.      0.
   7.9     0.8    11.7   ]
 [ 3.7    18.5    22.8    47.6    12.3     0.      0.      0.      0.
   5.4     6.3     9.    ]
 [27.2    11.7    11.2    12.2     6.8     0.      0.      0.      0.5
   0.     16.9    19.8   ]
 [ 6.     54.6     8.      7.4     3.9     0.0001  0.      0.      0.
   0.     11.5    17.4   ]
 [ 4.1    21.8    32.5    21.4     1.      0.      0.      0.      0.
   0.      4.4    13.    ]
 [18.7     9.9     0.     19.4     6.1     0.      0.      0.      0.
   8.      4.1    10.2   ]]

#### Question 5: Run Calculations on Numpy Arrays (4 pts)

Convert the values in your numpy array from inches to millimeters. Recall that one inch is equal to 25.4 millimeters.

Print your new numpy array, again supressing the scientific notation.

In [8]:
# Convert 'snow_07_to_17' from inches to mm (multiple by 25.4)
snow_07_to_17_mm = snow_07_to_17 * 25.4

# Display variables in the numpy array as floats, rather than scientific notation

np.set_printoptions(suppress=True)

# print the values in 'snow_07_to_17_mm'

print(snow_07_to_17_mm)

[[ 698.5      388.62     114.3       55.88       0.00254    0.
     0.         0.         0.         2.54     149.86     762.     ]
 [ 261.62     264.16     447.04     200.66      17.78       0.
     0.         0.         0.         5.08      33.02     530.86   ]
 [ 330.2       99.06     543.56     518.16       0.         0.
     0.         0.         0.       764.54     226.06     706.12   ]
 [ 116.84     581.66     728.98     147.32     142.24      88.9
     0.         0.         0.         0.00254   50.8      241.3    ]
 [ 462.28     335.28      17.78      88.9        5.08       0.
     0.         0.         0.       292.1      218.44     840.74   ]
 [ 198.12     815.34       0.00254   40.64       0.00254    0.
     0.         0.         0.       200.66      20.32     297.18   ]
 [  93.98     469.9      579.12    1209.04     312.42       0.
     0.         0.         0.       137.16     160.02     228.6    ]
 [ 690.88     297.18     284.48     309.88     172.72       0.
     0.         0.        12.7        0.       429.26     502.92   ]
 [ 152.4     1386.84     203.2      187.96      99.06       0.00254
     0.         0.         0.         0.       292.1      441.96   ]
 [ 104.14     553.72     825.5      543.56      25.4        0.
     0.         0.         0.         0.       111.76     330.2    ]
 [ 474.98     251.46       0.       492.76     154.94       0.
     0.         0.         0.       203.2      104.14     259.08   ]]

##### Question 6: Select Data From Numpy Arrays (6 pts)

Create (and print) a new numpy array containing all data values for the first year (2007). Be sure this new numpy array contains the converted values (mm).

In [9]:
# print the dimensions of snow_07_to_17_mm
print(snow_07_to_17_mm.shape)

(11, 12)

In [10]:
# create a new numpy array containing all data values for 2007

snow_07_mm = snow_07_to_17_mm[0:1, 0:12]

# print data in 'snow_07_mm'

print(snow_07_mm)

[[698.5     388.62    114.3      55.88      0.00254   0.        0.
    0.        0.        2.54    149.86    762.     ]]

#### Question 7: Select Data From Numpy Arrays (6 pts)

Create (and print) a new numpy array containing all data values for January across all years. Be sure this new numpy array contains the converted values (mm).

In [11]:
# create a new numpy array containing all values for January across the years

snow_Jan_07_to_17_mm = snow_07_to_17_mm[0:11, 0:1]

# print data in 'snow_07_mm'

print(snow_Jan_07_to_17_mm)

[[698.5 ]
 [261.62]
 [330.2 ]
 [116.84]
 [462.28]
 [198.12]
 [ 93.98]
 [690.88]
 [152.4 ]
 [104.14]
 [474.98]]

##### Question 8: Calculate Summary Statistics of Numpy Arrays (4 pts)

Calculate (and print) the maximum value of your numpy array for 2007.

Add a text string to your print to label your result.

In [12]:
# find the maximum value in 'snow_07_mm'

snow_07_mm_max = np.max(snow_07_mm)

# print this value along with a message

print("The maximum snowfall during 2007 was", snow_07_mm_max, "mm" )

The maximum snowfall during 2007 was 762.0 mm

#### Question 9: Calculate Summary Statistics of Numpy Arrays (4 pts)

Calculate (and print) the mean (i.e. average) value for your numpy array for January.

Add a text string to your print to label your result.

In [13]:
# find the medium value in snow_Jan_07_to_17_mm

snow_Jan_07_to_17_mm_mean = np.mean(snow_Jan_07_to_17_mm)

# print this value along with a message

print("The mean snowfall in January from 2007 to 2017 was", round(snow_Jan_07_to_17_mm_mean,2), "mm")

The mean snowfall in January from 2007 to 2017 was 325.81 mm

#### Question 10: Download CSV File and Import Into Pandas Dataframe (6 pts)

Use .urllib.request to download the following CSV file of monthly snowfall (inches) between 2007 and 2017 for Boulder, Colorado, which includes month and season names, to your data directory:

snow-2007-to-2017-months-seasons.csv from https://ndownloader.figshare.com/files/12746042

Use the appropriate function to import snow-2007-to-2017-months-seasons.csv into a pandas dataframe.

Print your pandas dataframe.

In [14]:
# change directory to earth-analytics-bootcamp
os.chdir("/Users/markb/earth-analytics-bootcamp")

# print current working directory
os.getcwd()

'C:\\Users\\markb\\earth-analytics-bootcamp'

In [15]:
# use `urllib` download files from Earth Lab figshare repository

# download .txt containing monthly average precipitation for Boulder, CO
urllib.request.urlretrieve(url = "https://ndownloader.figshare.com/files/12746042", 
                           filename = "data/snow-2007-to-2017-months-seasons.csv")

# download .txt containing month names
urllib.request.urlretrieve(url = "https://ndownloader.figshare.com/files/12746042", 
                           filename = "data/snow-2007-to-2017-months-seasons.csv")

# print message that data downloads were successful
print("datasets downloaded successfully")

datasets downloaded successfully

In [4]:
# import dataset into a pandas dataframe

snow_07_17_months_seasons = pd.read_csv("/Users/markb/earth-analytics-bootcamp/data/snow-2007-to-2017-months-seasons.csv")

In [5]:
# print the value in the pandas dataframe

snow_07_17_months_seasons

,months,y2007,y2008,y2009,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,seasons
0,Jan,27.50000,10.3,13.0,4.60000,18.2,7.80000,3.7,27.2,6.00000,4.1,18.7,Winter
1,Feb,15.30000,10.4,3.9,22.90000,13.2,32.10000,18.5,11.7,54.60000,21.8,9.9,Winter
2,Mar,4.50000,17.6,21.4,28.70000,0.7,0.00001,22.8,11.2,8.00000,32.5,0.0,Spring
3,Apr,2.20000,7.9,20.4,5.80000,3.5,1.60000,47.6,12.2,7.40000,21.4,19.4,Spring
4,May,0.00001,0.7,0.0,5.60000,0.2,0.00001,12.3,6.8,3.90000,1.0,6.1,Spring
5,June,0.00000,0.0,0.0,3.50000,0.0,0.00000,0.0,0.0,0.00001,0.0,0.0,Summer
6,July,0.00000,0.0,0.0,0.00000,0.0,0.00000,0.0,0.0,0.00000,0.0,0.0,Summer
7,Aug,0.00000,0.0,0.0,0.00000,0.0,0.00000,0.0,0.0,0.00000,0.0,0.0,Summer
8,Sept,0.00000,0.0,0.0,0.00000,0.0,0.00000,0.0,0.5,0.00000,0.0,0.0,Fall
9,Oct,0.10000,0.2,30.1,0.00001,11.5,7.90000,5.4,0.0,0.00000,0.0,8.0,Fall
10,Nov,5.90000,1.3,8.9,2.00000,8.6,0.80000,6.3,16.9,11.50000,4.4,4.1,Fall
11,Dec,30.00000,20.9,27.8,9.50000,33.1,11.70000,9.0,19.8,17.40000,13.0,10.2,Winter

#### Question 11: Run Calculations on Pandas Dataframes (6 pts)

Convert the values in your pandas dataframe from inches to millimeters. Recall that one inch is equal to 25.4 millimeters.

Print your new pandas dataframe.

In [7]:
# convert values in pandas dataframe from inches to milimeters.

snow_07_17_months_seasons.y2007 = snow_07_17_months_seasons.y2007 * 25.4
snow_07_17_months_seasons.y2008 = snow_07_17_months_seasons.y2008 * 25.4
snow_07_17_months_seasons.y2009 = snow_07_17_months_seasons.y2009 * 25.4
snow_07_17_months_seasons.y2010 = snow_07_17_months_seasons.y2010 * 25.4
snow_07_17_months_seasons.y2011 = snow_07_17_months_seasons.y2011 * 25.4
snow_07_17_months_seasons.y2012 = snow_07_17_months_seasons.y2012 * 25.4
snow_07_17_months_seasons.y2013 = snow_07_17_months_seasons.y2013 * 25.4
snow_07_17_months_seasons.y2014 = snow_07_17_months_seasons.y2014 * 25.4
snow_07_17_months_seasons.y2015 = snow_07_17_months_seasons.y2015 * 25.4
snow_07_17_months_seasons.y2016 = snow_07_17_months_seasons.y2016 * 25.4
snow_07_17_months_seasons.y2017 = snow_07_17_months_seasons.y2017 * 25.4

In [8]:
# print new pandas dataframe

snow_07_17_months_seasons

,months,y2007,y2008,y2009,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,seasons
0,Jan,698.500000,261.62,330.20,116.840000,462.28,198.120000,93.98,690.88,152.400000,104.14,474.98,Winter
1,Feb,388.620000,264.16,99.06,581.660000,335.28,815.340000,469.90,297.18,1386.840000,553.72,251.46,Winter
2,Mar,114.300000,447.04,543.56,728.980000,17.78,0.000254,579.12,284.48,203.200000,825.50,0.00,Spring
3,Apr,55.880000,200.66,518.16,147.320000,88.90,40.640000,1209.04,309.88,187.960000,543.56,492.76,Spring
4,May,0.000254,17.78,0.00,142.240000,5.08,0.000254,312.42,172.72,99.060000,25.40,154.94,Spring
5,June,0.000000,0.00,0.00,88.900000,0.00,0.000000,0.00,0.00,0.000254,0.00,0.00,Summer
6,July,0.000000,0.00,0.00,0.000000,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,Summer
7,Aug,0.000000,0.00,0.00,0.000000,0.00,0.000000,0.00,0.00,0.000000,0.00,0.00,Summer
8,Sept,0.000000,0.00,0.00,0.000000,0.00,0.000000,0.00,12.70,0.000000,0.00,0.00,Fall
9,Oct,2.540000,5.08,764.54,0.000254,292.10,200.660000,137.16,0.00,0.000000,0.00,203.20,Fall
10,Nov,149.860000,33.02,226.06,50.800000,218.44,20.320000,160.02,429.26,292.100000,111.76,104.14,Fall
11,Dec,762.000000,530.86,706.12,241.300000,840.74,297.180000,228.60,502.92,441.960000,330.20,259.08,Winter

#### Question 12: Calculate Summary Statistics of Pandas Dataframes (4 pts)

Calculate (and print) the summary statistics of your pandas dataframe with the converted values.

In [9]:
# calculate summary statistics of Pandas Dataframe

snow_07_17_months_seasons.describe()

,y2007,y2008,y2009,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017
count,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000
mean,180.975021,146.685000,265.641667,174.836688,188.383333,131.021709,265.853333,225.001667,230.293354,207.856667,161.713333
std,280.454143,191.496843,296.990393,238.789050,260.834927,239.065509,353.288897,233.989661,390.479162,285.732467,181.183070
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000190,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,29.210000,25.400000,162.560000,102.870000,53.340000,10.160127,148.590000,228.600000,125.730000,64.770000,129.540000
75%,209.550000,262.255000,524.510000,170.815000,302.895000,198.755000,351.790000,339.725000,225.425000,383.540000,253.365000
max,762.000000,530.860000,764.540000,728.980000,840.740000,815.340000,1209.040000,690.880000,1386.840000,825.500000,492.760000

#### Question 13: Discuss Your Analysis of Numpy Arrays and Pandas Dataframe (12 pts)

Use Markdown to write a few paragraphs (1-2) addressing the following questions:

1. Are any of your numpy arrays for the snowfall data one-dimensional arrays? How do you know? Explain your answer.

2. Was one data structure easier to use than the other (i.e. numpy array vs pandas dataframe) to convert the units from inches to millimeters? Explain your answer.

3. Was one data structure easier to use than the other (i.e. numpy array vs pandas dataframe) to calculate the maximum and mean values (i.e. averages)? Imagine that you completed the mean calculation for all years in the original numpy array. Explain your answer.

4. How could you imagine using these two data structures together in same analysis workflow?

#### Question 14: Plot Pandas Dataframes (6 pts)

Create a plot of your choosing for the monthly snowfall in 2017. Be sure to add a title and label the axes with the appropriate units.m